<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    {% for item in menu %}
      <li class="{{item.classes | join(' ')}}">
        <a href="{{item.get_link}}">{{item.title}}</a>
        {% include "menu.twig" with {'menu': item.get_children} %}
      </li>
    {% endfor %}
  </ul>
  <ul class="nav navbar-nav navbar-right">
  </ul>
</div><!--/.nav-collapse -->
