{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<img class="top-banner" src="/cd-wordpress/wp-content/uploads/2016/06/header.png">
			<section class="article-wrapper">
				<div class="article-body">
					{{broken_content[0]}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
	{% include 'grid5.twig' with {
        'gridtitle': 'Level 1',
        'grid': [
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
        ]
    } %}
	{% include 'grid5.twig' with {
        'gridtitle': 'Level 2',
        'grid': [
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            }
        ]
    } %}

		<div class="article-body">
			{{broken_content[1]}}
			{% include 'cta.twig' with {'buttontext': 'View All Badges', 'target': 'https://zen.coderdojo.com/badges' } %}
		</div>
{% endblock %}
