{% extends "base.twig" %}

{% block content %}
        <div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body" style="width: 80%; padding-left: 20%; padding-bottom: 20px;">
					{{post.content}}
                                        <br />
                                        {% include 'cta.twig' with {'buttontext': 'Call to Action', 'target': 'http://www.google.com' } %}
                                        <br /><br />
                                        <h3 style="text-align: center;">What's involved</h3>
                                        <br />
                                </div>

{% include 'paragraph.twig' with {'align':  'left', 'title':'Whats required?', 'img':'http://placehold.it/150x150', 'desc':  'Yr chillwave farm-to-table, PBR&amp;B migas hella dreamcatcher. ArAsan mumblecore deep v polaroid, kombucha fanny pack everyday carry venmo selvage messenger bag kitsch ausAn. '} %}
{% include 'paragraph.twig' with {'align': 'right', 'title':'Subject responsibility', 'img':'http://placehold.it/150x150', 'desc': 'Yr chillwave farm-to-table, PBR&amp;B migas hella dreamcatcher. ArAsan mumblecore deep v polaroid, kombucha fanny pack everyday carry venmo selvage messenger bag kitsch ausAn. ' } %}
{% include 'paragraph.twig' with {'align':  'left', 'title':'Child protection', 'img':'http://placehold.it/150x150', 'desc':  'Yr chillwave farm-to-table, PBR&amp;B migas hella dreamcatcher. ArAsan mumblecore deep v polaroid, kombucha fanny pack everyday carry venmo selvage messenger bag kitsch ausAn. '} %}
{% include 'paragraph.twig' with {'align': 'right', 'title':'I want to mentor', 'img':'http://placehold.it/150x150', 'desc': 'Yr chillwave farm-to-table, PBR&amp;B migas hella dreamcatcher. ArAsan mumblecore deep v polaroid, kombucha fanny pack everyday carry venmo selvage messenger bag kitsch ausAn. ' } %}
{% include 'paragraph.twig' with {'align': 'left', 'title':'Easy to Join', 'img':'http://placehold.it/150x150', 'desc': 'Yr chillwave farm-to-table, PBR&amp;B migas hella dreamcatcher. ArAsan mumblecore deep v polaroid, kombucha fanny pack everyday carry venmo selvage messenger bag kitsch ausAn. ' } %}
{% include "bio-heads-3.twig" %}

				</div>
			</section>
		</article>
          </div>
        </div>
{% endblock %}
