{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="article-content">
      <div class="article-wrapper">
        <h1 class="article-h1 center">{{post.title}}</h1>
        <div class="article-body">
          {{broken_content[0]}}
        </div>
      </div>
      <div class="row top">
        {% include "item-box.twig" with {'title': '', 'hrefOne':'movement', 'hrefTwo':'foundation', 'rows': 2 } %}
        <div class="col-md-6">
          <p class="pull-right">Some text</p>
        </div>
        <div class="col-md-6">
          <p class="pull-left">Some text</p>
        </div>
      </div>
      <div class="row bottom">
        {% include "item-box.twig" with {'title': '', 'hrefOne':'supporters', 'hrefTwo':'community-committee', 'rows': 2 } %}
        <div class="col-md-6">
          <p class="pull-right">Some text</p>
        </div>
        <div class="col-md-6">
          <p class="pull-left">Some text</p>
        </div>
      </div>
    </section>
  </article>
</div>
{% endblock %}
