{% extends "base.twig" %}

{% block content %}
        <div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
                                        <h1>{{post.title}}</h1>
					{{post.content}}
                                        <br />
                                        {% include 'cta.twig' with {'buttontext': 'Call to Action', 'target': 'http://www.google.com' } %}
                                        <br /><br />
                                </div>

<div class="article-mid">
<h1>What is Coder Dojo?</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra interdum tempor. Maecenas lacinia, quam lacinia euismod placerat, lacus turpis tincidunt turpis, sit amet rhoncus urna massa vel orci. Morbi facilisis, dui id fermentum malesuada, ligula nibh aliquam lacus, eget tempor purus mauris id ipsum. Curabitur ullamcorper sagittis ipsum, eu cursus nibh.</p>
</div>

{% include "bio-heads-3.twig" %}
{% include "find-dojo.twig" %}


				</div>
			</section>
		</article>
          </div>
        </div>
{% endblock %}
