{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    	<section class="article-content">
      	<div class="article-wrapper">
					<div class="article-body">
						{{broken_content[0]}}
  				</div>
        </div>
				{% include 'grid-plus-text.twig' with {"purpose": "resources"} %}
				<div class="article-wrapper">
					<div class="article-body">
						{{broken_content[1]}}
					</div>
				</div>
				{% include 'cta.twig' with {'buttontext': 'View All Resources', 'target': 'https://kata.coderdojo.com' } %}
    	</section>
  	</article>
	</div><!-- /content-wrapper -->
{% endblock %}
