{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-wrapper">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
	{% include 'grid5.twig' with {
        'gridtitle': 'Beginner',
        'grid': [
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
        ]
    } %}
	{% include 'grid5.twig' with {
        'gridtitle': 'Intermediate',
        'grid': [
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'body': 'The name',
                'src': site.theme.link ~ '/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
        ]
    } %}
{% endblock %}
