/*
 * Styles specifically for the footer
 */

.margin-bottom {
    margin-bottom: 1em;
}

.futuremakers .cta button {
    background: lighten(#f26522, 5%);
    border-radius: .2em;
    border: none;
    padding: 0.1em 1.5em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 65px;
    display:inline-block;
    width:150px;
}

.futuremakers .headshot-modal-link-quotees img {
    box-shadow: 0 0 0 10px #f26522;
}

.futuremakers .bio-heads span {
    color: #f26522;
    text-align: center;
}

.cta button {
    background: lighten(@cd-blue, 5%);
    border-radius: .2em;
    border: none;
    padding: .5em 1.5em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
}

.cta a {
    color: #fff;
}

.nav .fa {
    color: @cd-grey;
}
