/*
 * Styles for the GRID layout
 */
.wrapper-grid {
  width: 100%;
  margin-bottom: 30px;
}

.grid {
  width: 80%;
  margin-left: 10%;
}

.grid h3 {
  text-align: center;
  padding: 5px;
}

h3.gridPlusText
{
  text-align: center;
  margin-top: 100px;
}

.grid .row {
  background-color: #EEE;
  padding: 4px;
}

.row .grid-item {
  padding: 5px;
  text-align: center;
}

.row .grid-item img {
  width: 100%;
}

.content-item-box h1 {
  text-align: center;
  padding: 20px;
}

.content-item-box .box-item {
  margin: 0;
  padding: 0;
}

.content-item-box .box-item img {
  width: 100%;
}
