.post-image {
  text-align: center;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 20px;
}

.older-news {
  @media(max-width: 1000px){
    display: none;
  }
}

.home-latest-news {
  @media(max-width: 770px){
    display: none;
  }
}

.news-carousel {
  @media(max-width: 770px){
    display: none;
  }
}

.article-pagination {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  padding: 12px 15px 24px 0;

  &:last-child {
    border: none;
  }
}

.pagination-buttons {
  margin: 12px 0 24px 0;
}

/*A lot more needs to be done here in order to correctly present posts which
 * have been migrated over form the old websote*/

.news video {
  margin-top: 35px;;
  text-align: center;
  width: 100%;
  height: 50%;
}

.news table {
  width: 100%;
}

.content h2 {
  text-align: center;
}

.news iframe {
  margin-top: 35px;
}

.news-content {
  padding-top: 20px;
}

.responses {
  text-align: left;
}

.cat-list {
  padding: 0;
}

.cat-list li {
  border-bottom: 1px solid #CCC;
  padding: 0 0 15px;
  margin: 0 0 15px;
  list-style-type: none;
}

.news-search {
  display: inline;
  padding-top: 20px;
  padding-right: 30px;
}
