/*
 * People styles
 */

.people-header {
  background-color: #bdbfbf;
}

.people-header .empty-container {
  padding: 45px;
}

.people-grid {
  width: 70%;
  margin-left: 10%;
}

.people-grid .image-container {
  position:absolute;
  left: 60px;
  top: -55px;
}

.people-grid .image-crop {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid rgba(128, 128, 128, 0.1) 1px;
}

.image-crop {
    border-radius: 50%;
    border: solid rgba(128, 128, 128, 0.1) 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.people-grid img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.people-body {
  margin-left: 25%;
}

.people-body #title {
  font-size: 30px;
  font-weight: bold;
}

.people-body #link {
  font-size: 16px;
  font-weight: bold;
}

.people-bio {
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 40px;
}
