{% extends "base.twig" %}

{% block content %}
<div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center page-not-found">
	<div class="ninja"></div>
		<p>Oops! This is not the page you are looking for.</p>
		<p>Maybe you'd like to check out some of the following fun sections of our site:</p>
		<ul>
		  <li><a href="http://zen.coderdojo.com">Find A Dojo</a></li>
		  <li><a href="http://forums.coderdojo.com">Community Forums</a></li>
		  <li><a href="http://kata.coderdojo.com">Kata, our community wiki</a></li>
		  <li><a href="https://coderdojo.com/news/">CoderDojo community news</a></li>
		</ul>
</div>
{% endblock %}
