<div class="row people">
  <div class="col-md-3 footer-left-column">
  </div>
   <div class="col-md-2 people-about-grid">
       <img src="http://placehold.it/120x120" class="image-crop">
       <p>Hoodie bitters iPhone mumblecore semester, try-hard actually small batch kinfolk trust fund</p>
   </div>
   <div class="col-md-2 people-about-grid">
     <img src="http://placehold.it/120x120" class="image-crop">
     <p>Hoodie bitters iPhone mumblecore semester, try-hard actually small batch kinfolk trust fund</p>
   </div>
   <div class="col-md-2 people-about-grid">
     <img class="image-crop" src="http://placehold.it/120x120" class="image-crop">
     <p>Hoodie bitters iPhone mumblecore  semester, try-hard actually small batch kinfolk trust fund</p>
   </div>
   <div class="col-md-3 footer-right-column">
   </div>
</div>
