<div>
  <div class="col-md-3 footer-left-column">
  </div>
   <div class="col-md-2 footer-centre-column">
     <img src="http://placehold.it/150x100">
     <br/>Hoodie bitters iPhone mumblecore semester, try-hard actually small batch kinfolk trust fund
   </div>
   <div class="col-md-2 footer-centre-column">
     <img src="http://placehold.it/150x100">
     Hoodie bitters iPhone mumblecore semester, try-hard actually small batch kinfolk trust fund
   </div>
   <div class="col-md-2 footer-centre-column">
     <img src="http://placehold.it/150x100">
     Hoodie bitters iPhone mumblecore  semester, try-hard actually small batch kinfolk trust fund
   </div>
   <div class="col-md-3 footer-right-column">
   </div>
</div>
