<div class="row people">
  <div class="col-md-3 footer-left-column">
  </div>
   <div class="col-md-2 people-about-grid">
       <img src="http://placehold.it/150x100" class="image-crop">
       <br/>Hoodie bitters iPhone mumblecore semester, try-hard actually small batch kinfolk trust fund
   </div>
   <div class="col-md-2 people-about-grid">
     <img src="http://placehold.it/150x100" class="image-crop">
     Hoodie bitters iPhone mumblecore semester, try-hard actually small batch kinfolk trust fund
   </div>
   <div class="col-md-2 people-about-grid">
     <img class="image-crop" src="http://placehold.it/150x100" class="image-crop">
     Hoodie bitters iPhone mumblecore  semester, try-hard actually small batch kinfolk trust fund
   </div>
   <div class="col-md-3 footer-right-column">
   </div>
</div>
