<div class="panel panel-default find-dojo" style="
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    x-background: url('/wp-includes/static/img/finddojo.png') no-repeat center center fixed;
    background: #000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
  <div class="panel-body">
  </div>
</div>
