<div class="panel panel-default find-dojo" style="
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    x-background: url('/wp-includes/static/img/finddojo.png') no-repeat center center fixed;
    background: url('http://placehold.it/2500x250') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
">
  <div class="panel-body">
    <div class="col-md-offset-5 col-sm-6 find-dojo-column">
      <form method="post">
        <label id="find-dojo-label" value="test" style="
            display: block;
        ">
        Find a Dojo
        </label>
        <input type="text" name="find-dojo" id="find-dojo-text"/>
        <button type="submit">Search</button>
        </div>
      </form> 
    </div>
  </div>
</div>
