<div id="find-dojo">
  <div class="panel panel-default find-dojo" style="
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    x-background: url('{{site.theme.link}}/static/img/maps/finddojo.png') no-repeat center center fixed;
    background: url('https://maps.googleapis.com/maps/api/staticmap?center=Dublin&zoom=8&size=640x640&scale=2&maptype=roadmap&key=AIzaSyCH6dBNdNonxMt8gLs1kslCrReKjFDC9dg') no-repeat left center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ">
  </div>
  <div class="panel-body">
    <div class="col-md-offset-4 col-sm-5 find-dojo-column">
      <form method="post">
        <label id="find-dojo-label" value="test" style="display: block;">
          Find a Dojo
        </label>
        <div class="row">
          <span class="col-sm-8">
            <input type="text" name="find-dojo" id="find-dojo-text"/>
          </span>
          <span class="col-sm-4">
            <button type="submit">SEARCH</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
