<div class="cd-footer">
  <div class="row">
    <div class="col-sm-4 col-xs-12"><div>
      <span>Maintained by </span></div>
      <svg class="cd-footer__foundation-logo" width="200" height="56">
        <image xlink:href="{{ site.theme.link }}/static/img/coderdojo/coderdojo-foundation.svg" src="{{ site.theme.link }}/static/img/coderdojo/coderdojo-logo-dark-bg.png" width="200" height="56" />
      </svg>
    </div>
    <div class="col-sm-4 col-xs-12">
      <h4>CoderDojo Foundation</h4><h4> Dogpatch Labs Unit 1.<br/> The CHQ building. <br/>Custom House Quay, Dublin 1, Ireland.</h4>
    </div>
    <div class="col-sm-4 col-xs-12">
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="row">
        <div>
          <h4><a href="/news"><u>Sign Up For Newsletter</u></a></h4>
          <h4><a href="https://www.flickr.com/photos/helloworldfoundation/" target="_blank"><u>Photos and Videos</u></a></h4>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="cd-footer__social-icons">
          <a href="https://twitter.com/coderdojo" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x cd-footer__social-icons__icon"></i>
            </span>
          </a>
          <a href="https://facebook.com/coderdojo" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x cd-footer__social-icons__icon"></i>
            </span>
          </a>
          <a href="https://plus.google.com/+coderdojo" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x cd-footer__social-icons__icon"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/company/coderdojo" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x cd-footer__social-icons__icon"></i>
            </span>
          </a>
          <a href="#" target="https://www.coderdojo.com/contact/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x cd-footer__social-icons__icon"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="cd-footer__language-picker row">
    <!-- <a href="">English</a> <a href="">Spanish</a> <a href="">German</a> <a href="">French</a> <a href="">Italian</a> -->
    <a href="https://crowdin.com/project/zen-community-platform" class="pull-right"><h5>Help Us Translate<h5></a>
  </div>
</div>
