<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-3 footer-logo">
      <span>Maintained by </span>
      <svg width="200" height="56">
        <image xlink:href="{{ site.theme.link }}/static/img/coderdojo/coderdojo-foundation.svg" src="{{ site.theme.link }}/static/img/coderdojo/coderdojo-logo-dark-bg.png" width="200" height="56" />
      </svg>
    </div>
    <div class="col-sm-3 footer-left-column">
      <h4> Dogpatch Labs Unit 1. The CHQ building. <br/>Custom House Quay, Dublin 1, Ireland.</h4>
    </div>
    <div class="col-sm-3 footer-center-column">
    </div>
    <div class="col-sm-3 footer-right-column">
      <div class="row">
        <div class="nav navbar-nav navbar-left narrow">
          <h4><a href="news">Blog</a></h4>
          <h4><a href="https://www.flickr.com/photos/helloworldfoundation/">Photos and Videos</a></h4>
        </div>
      </div>
      <div class="row">
        <div class="nav navbar-nav navbar-left social narrow">
          <a href="https://twitter.com/coderdojo">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x footer-social-media"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
          </a>
          <a href="https://facebook.com/coderdojo">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x footer-social-media"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
          <a href="https://localhost:">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x footer-social-media"></i>
              <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
          </a>
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x footer-social-media"></i>
              <i class="fa fa-envelope fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a href="">English</a> <a href="">Spanish</a> <a href="">German</a> <a href="">French</a> <a href="">Italian</a>
    <a href="" class="pull-right"><h5> Help Us Translate <h5>
  </div>
</div>
