<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-3 footer-logo">
      <img src="http://placehold.it/200x100" align="left" hspace='20'>
    </div>
    <div class="col-sm-4 footer-left-column">
       <h4> Dogpatch Labs Unit 1. The CHQ building. <br/>Custom House Quay, Dublin 1, Ireland.</h4>
    </div>
    <div class="col-sm-4 footer-center-column">
      <button type="submit"> Contact Us</button>
    </div>
    <div class="col-sm-4 footer-right-column"> BLOG AND SUFF </div>
  </div>
  <div class="panel-footer">
    <a href="">English</a> <a href="">Spanish</a> <a href="">German</a> <a href="">French</a>
    <a href="" class="pull-right"><h5> Help Us Translate <h5>
  </div>
</div>
