<form role="form" type="post" class="userdetails text-center" action="">
  <div class="form-group">
    <label for="fullname" class="pull-left">Full name</label>
    <input type="text" class="form-control" id="fullname" placeholder="Your name">
  </div>
  <div class="form-group">
    <label for="username" class="pull-left">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Your username">
  </div>
  <div class="form-group">
    <label for="pwd" class="pull-left">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="12 character alpha numeric">
  </div>
  <div class="form-group">
    <p>By creating an account. I accept CoderDojos <u>Terms of Services</u> and <u>Privacy Policy</u></p>
    <button type="submit" class="btn btn-default submit">Create account</button>
  </div>
</form>
