<div class="row growing-foundation">
  <h1>Growing Foundation Links to Reports</h1>
  <div class="col-md-3">
    <h4 class="text">{{ninjas}}</h4>
  </div>
  <div class="col-md-3">
    <h4 class="text">{{mentors}}</h4>
  </div>
  <div class="col-md-3">
    <h4 class="text">{{champions}}</h4>
  </div>
  <div class="col-md-3">
    <h4 class="text">{{countries}}</h4>
  </div>
</div>
