{% block content %}
  <div class="wrapper-grid">
    <div class="grid">
      <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-item"><a href="" target=""><img src="http://placehold.it/350x150" alt="" border="0"></a></div>
            <div class="col-md-6 grid-item"><a href="" target=""><img src="http://placehold.it/350x150" alt="" border="0"></a></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
