{# image-row-text.twig #}
{% block content %}
  <div class="content-wrapper">
    <div class="content-item-box">
          <div class="row">
            <div class="col-md-6 box-item">
              <a href="" target=""><img src="http://placehold.it/100x50" alt="" border="0"></a>
              <p class="text-center photo-text">{{paragraphOne}}</p>
            </div>
            <div class="col-md-6 box-item">
              <a href="" target=""><img src="http://placehold.it/100x50" alt="" border="0"></a>
              <p class="text-center photo-text">{{paragraphTwo}}</p>
            </div>
            <div class="col-md-6 box-item">
              <a href="" target=""><img src="http://placehold.it/100x50" alt="" border="0"></a>
              <p class="text-center photo-text">{{paragraphThree}}</p>
            </div>
            <div class="col-md-6 box-item">
              <a href="" target=""><img src="http://placehold.it/100x50" alt="" border="0"></a>
              <p class="text-center photo-text">{{paragraphFour}}</p>
            </div>
          </div>
    </div>
  </div>
{% endblock %}
