<table class="table committee-comp">
  <tr>
    <th>Name</th>
    <th>Dojo</th>
    <th>Region</th>
    <th>joined</th>
  </tr>
  {% for item in community %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{{ item.dojo }}</td>
    <td>{{ item.region }}</td>
    <td>{{ item.joined }}</td>
  </tr>
  {% endfor %}
</table>
