<table class="table committee-comp">
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td></td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Name</td>
    <td>Name</td>
  </tr>
</table>
